<h3>Update Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">bookId</label>
      <input type="number" class="form-control" id="bookId" required [(ngModel)]="bookcat.bookId" name="bookId">
    </div>

    <div class="form-group">
      <label for="name">categoryId</label>
      <input type="number" class="form-control" id="categoryId" required [(ngModel)]="bookcat.categoryId" name="categoryId">
    </div>

    
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
