<h1>Book Details</h1>

<table>
    <tr>
        <td>Book Id</td>
        <td>{{bookNew.bookId}}</td>
    </tr>
    <tr>
        <td>Book Title</td>
        <td>{{bookNew.bookTitle}}</td>
    </tr>
    <tr>
        <td>Book Description</td>
        <td>{{bookNew.description}}</td>
    </tr>
    <tr>
        <td>Book Price</td>
        <td>{{bookNew.bookPrice}}</td>
    </tr>
</table>


<!-- <table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Mobile No</th>
            <th>Action's</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of book">
            <td>{{b.bookId}}</td>
            <td>{{b.bookTitle}}</td>
            <td>{{b.description}}</td>
        </tr>
    </tbody>
</table> -->

<br>
 <img src="{{bookNew.retrievedImage}}" height="150" width="150">
<br><br>

<!--     <a class="btn btn-small btn-danger" (click)="deleteBook()">delete</a> -->
<!-- <a class="btn btn-small btn-danger">delete</a> -->