<header>
     <nav class="navbar navbar-expand-md navbar-dark bg-dark">
         <div><a href="www.google.com" class="navbar-brand">BookStore App</a></div>
        <ul class="navbar-nav">

            <form action="#">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"></button>
            </form>
            <li class="nav-item dropdown">
                <a routerLink="/" class="nav-link">Book</a>
            </li>
            <li class="nav-item dropdown">
                <a routerLink="/users" class="nav-link">Registration</a>
            </li>
            <li class="nav-item dropdown">
                <a routerLink="/bookcategory" class="nav-link">BookCategory</a>
            </li>
            <li class="nav-item dropdown">
                <a routerLink="/orders" class="nav-link">Orders</a>
            </li>
            <li class="nav-item dropdown">
                <a routerLink="/home" class="nav-link">Author</a>
            </li>
           <!-- <li class="nav-item dropdown">
                <a routerLink="#" class="nav-link">Admin</a>
            </li>
            <li class="nav-item dropdown">
                <a routerLink="#" class="nav-link">Login</a>
            </li> -->
        </ul>
         </nav>
</header>